




.ambank-backgroundColor-red-dark {
    background-color : #7d2123 !important;
}

.ambank-backgroundColor-red {
    background-color : #c33336 !important;
}





.ambank-backgroundColor-yellow {
    background-color : #FFE926 !important;
}

.ambank-backgroundColor-yellow-dark {
    background-color : #FFC841 !important;
}




.ambank-backgroundColor-grey {
    background-color : #5F6062 !important;
}




.ambank-backgroundColor-green {
    background-color : #6FBF58 !important;
}

.ambank-backgroundColor-green-dark {
    background-color : #98AE4C !important;
}









.ambank-color-white {
    color   : white !important;
    fill    : #FFE926 !important;
}

.ambank-color-yellow {
    color   : #FFE926 !important;
    fill    : #FFE926 !important;
}

.ambank-color-yellow-dark {
    color   : #FFC841 !important;
    fill    : #FFC841 !important;
}


.ambank-fontSize {
    font-size : 14px !important;
}
